---
title: GitLab for Ops
description: "GitLab is not just an ops tool, it's a tool for ops teams."
canonical_path: "/topics/ops/"
suppress_header: true
extra_css:
  - auto-devops.css
  - product.css
extra_js:
  - features.js
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    = image_tag "/images/devops-tools/gitlab-logo.svg", class: "hero-image-small", alt: "Gitlab logo svg"
    %h1 GitLab for Ops
    %p
      GitLab is not just an ops tool, it's a tool for ops teams. Learn how your operations personel can use GitLab for monitoring live applicaitons, managing Kubernetes environements, and incident response.
    = link_to "Watch a GitLab demo", "/demo/", class: "btn cta-btn accent"

.content-container
  .content.tile
    :markdown
      ## GitLab for Ops teams

      GitLab has long been a favorite of Dev teams, but GitLab is for Ops too. A variety of operations personnel from Sys Admins and IT Ops Engineers to SREs and DevOps Engineers can benefit from GitLab's built-in Ops tools as part of a single application for the entire software development and operations lifecycle.

  = link_to " See observability capabilities", "/stages-devops-lifecycle/monitor/", class: "btn cta-btn accent"

  .content.tile
    :markdown
      ## Monitor Kubernetes Environements

      For cloud native applications, GitLab may be able to completely replace tools like Datadog, New Relic, and Splunk. With Prometheus, Sentry, and Jaeger integrations, GitLab comes with everything you need out of the box for your micro-services based applications. Using GitLab lowers costs by offloading your cloud native monitoring from legacy pay-per-use tools to GitLab's built-in capabilities.

  %a.btn.cta-btn.accent{ href: "https://docs.gitlab.com/ee/user/project/integrations/prometheus.html#prometheus-integration" } Promethus integration

  .content.tile
    :markdown
      ## Use Auto-generated pipelines

      Get started quickly with GitLab's Auto DevOps capabilities. With a few clicks, Auto DevOps configures an entire CI/CD pipeline that detects your project's attributes and runs a pipeline based on best practices learned from more than 100K businesses using GitLab. Auto DevOps is fully configurable when you are ready to customize your pipelines to meet your exact specifications.

  = link_to "Auto DevOps", "/product/auto-devops/", class: "btn cta-btn accent"

  .content.tile
    :markdown
      ## View all pipelines at a glance

      Know which projects are green and which are red with a single view. The Operations Dashboard provides a summary of each project’s operational health, including pipeline and alert status so you can quickly diagnose system-wide problems or drill down into the specific commit causing a failure.

  %a.btn.cta-btn.accent{ href: "https://docs.gitlab.com/ee/user/operations_dashboard/" } Operations Dashboard

  .content.tile
    :markdown
      ## Incident Managment

      Get up and running faster with a complete DevOps platform featuring incident management built-in. Your Agile project planning, source code, pipelines, and cloud native monitoring all live in GitLab. Imagine having all of this data at your fingertips seamlessly available from your incident management application.

  = link_to "Incident management", "/handbook/engineering/infrastructure/incident-management/", class: "btn cta-btn accent"

  .content.tile
    :markdown
      ## Serverless

      Run your own Functions-as-a-Service (FaaS) using GitLab Serverless. Functions and even container-based applications can be easily deployed that auto-scale up to meet demand then down to zero when there's no usage.

  = link_to "GitLab Serverless", "/product/serverless/", class: "btn cta-btn accent"
