- description = current_page.data.description
- if !description
  - description = "Code, test and deploy with GitLab. Everyone can contribute!"
%meta{ name: "description", content: description }
%meta{ name: "twitter:description", content: description }
%meta{ property: "og:description", content: description }

%meta{content: data.site.title, property: "og:site_name"}
- if current_page.data.title
  %meta{content: current_page.data.title, property: "og:title"}
- else
  %meta{content: data.site.title, property: "og:title"}

- if data.site.repo
  %meta{content: data.site.repo, property: "og:repo"}

- if data.site.instance
  %meta{content: data.site.instance, property: "og:instance"}

- if data.site.path
  %meta{content: data.site.path, property: "og:path"}

- if current_page.file_descriptor.relative_path
  %meta{content: current_page.file_descriptor.relative_path, property: "og:relative_path"}

%meta{content: monorepo_site_path_fragment, property: "og:monorepo_site_path_fragment"}

- if current_page.data.title
  %meta{content: "article", property: "og:type"}
- else
  %meta{content: "website", property: "og:type"}

- if current_page.url
  %meta{content: "#{data.site.url}#{current_page.url}", property: "og:url"}

- if current_page.data.date
  %meta{content: current_page.data.date, property: "article:published_time"}
  %meta{content: "#{data.site.url}/about", property: "article:author"}

- if current_page.data.twitter_image
  %meta{content: "#{data.site.url}#{current_page.data.twitter_image}", property: "og:image"}
  %meta{ name: "twitter:image", content: "#{data.site.url}#{current_page.data.twitter_image}" }
- elsif current_page.data.image_title
  %meta{content: "#{data.site.url}#{current_page.data.image_title}", property: "og:image"}
  %meta{ name: "twitter:image", content: "#{data.site.url}#{current_page.data.image_title}" }
- else
  %meta{content: "#{data.site.url}/images/blogimages/gitlab-blog-cover.png", property: "og:image"}
  %meta{ name: "twitter:image", content: "#{data.site.url}/images/blogimages/gitlab-blog-cover.png" }

%meta{ name: "twitter:card", content: "summary_large_image" }
%meta{ name: "twitter:site", content: "@GitLab" }
- if current_page.data.title
  %meta{ name: "twitter:title", content: current_page.data.title }

%meta{ name: "twitter:creator", content: "@GitLab" }

- if current_page.data.keywords
  %meta{ name: "keywords", content: current_page.data.keywords.join(", ") }
